.currentWeatherWidget h2,
em {
  color: white;
}

.currentWeatherWidget h2 {
  font-size: 3rem;
}

.currentWeatherWidget em {
  font-size: 0.875rem;
}

@media only screen and (min-width: 768px) {
  .currentWeatherWidget h2,
  em {
    color: #65aed5;
  }
}
