.weekForecast div:first-child .dayForecast {
  border-top: none !important;
}

.weekForecast div:last-child .dayForecast {
  border-right: none !important;
}

.weekForecast {
  border: 1px solid rgb(222, 226, 230);
  border-radius: 1rem;
}

@media only screen and (min-width: 768px) {
  .weekForecast {
    max-width: 670px;
    border-radius: 0;
  }

  .weekForecast .singleDayForecast {
    border-radius: 0;
  }
}
